
body {
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar {
    background-color: #1f2937;
    color: #fff;
}

ul {
    list-style-type: none;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

/* Header - Hero */

.header {
    background-color: #1f2937;
}

.hero {
    display: flex;
    align-items: center;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    padding: 20px;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background-color: #3882f6;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Roboto', arial;
    font-weight: bold;
}

/* Content */

.container img {
    width: 100px;
    height: 100px;
  }
  
  .title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    text-align: center;
  }
  
  .container {
      display: flex;
      justify-content: center;
      gap: 52px;
  }
  
  .info {
    max-width: 200px;
  }

  /* quote */

  .quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
  }

  .quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
  }

  .quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
  }

  /* Sign up */

.sign-up {
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex-wrap: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 5px 25px;
    font-size: 15px;
}

  /* footer */

  .footer {
    background-color: #1f2937;
    color: #fff;
    font-family: 'Roboto', arial;
    text-align: center;
    min-height: auto;
}